@import "../global/variables";
@import "../global/mixins";

.about-us {
  padding-top: 24px;
}

.about-us__headline {
  margin: 0 0 31px 0;
  font-size: $base-font-size + 10px;
  color: $black;
  line-height: $base-line-height + 6px;
  font-weight: 700;
}

.about-us__list {
  @include list-reset();
}

.about-us__text {
  position: relative;
  padding-top: 55px;
  margin: 0;
  font-size: $base-font-size + 2px;
  font-weight: 700;
  line-height: $base-line-height - 4px;
}

.about-us__text--ecology {
  max-width: 180px;
}

.about-us__text--style {
  max-width: 210px;
}

.about-us__text--like {
  max-width: 185px;
}

.about-us__text--handmade {
  max-width: 215px;
}

.about-us__text--present {
  max-width: 210px;
}

.about-us__item {
  margin-bottom: 28px;

  &:last-child {
    margin-bottom: 0;
  }
}

.about-us__icon {
  position: absolute;
  top: 0;
  left: 0;
}

.about-us__icon--ecology {
  left: 8px;
  top: 0;
}

.about-us__icon--style {
  top: 1px;
}

.about-us__icon--handmade {
  top: 3px;
  left: 4px;
}

.about-us__icon--heart {
  top: 7px;
  left: 7px;
}

.about-us__icon--rocket {
  top: 5px;
  left: -6px;
}

.about-us__icon--present {
  top: 2px;
  left: 4px;
}

@media (min-width: $tablet-width) {
  .about-us__list {
    columns: 2;
  }

  .about-us__item {
    width: auto;
    margin-right: 0;
    margin-bottom: 56px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(n + 4) {
      margin-left: -7px;
    }
  }

  .about-us__text--ecology {
    max-width: 215px;
  }

  .about-us__text--handmade {
    max-width: 250px;
  }

  .about-us__text {
    font-size: $base-font-size + 5px;
    line-height: $base-line-height - 2px;
  }

  .about-us__headline {
    margin-left: -5px;
    font-size: $base-font-size * 3 - 2px;
    line-height: $base-line-height * 2 + 2px;
    margin-bottom: 46px;
  }

  .about-us {
    padding-top: 48px;
  }

  .about-us__text--style {
    max-width: 245px;
  }

  .about-us__text--like {
    max-width: 220px;
  }

  .about-us__text--present {
    max-width: 245px;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    padding-top: 59px;
  }

  .about-us__headline {
    padding-left: 175px;
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__list {
    max-width: 685px;
    margin-left: 175px;
  }

  .about-us__item:nth-child(n + 4) {
    margin-left: 0;
  }
}
