@import "../global/variables";
@import "../global/mixins";

.advantages {
  @include list-reset();
}

.advantages__text {
  color: $black;
  font-size: $base-font-size + 2px;
  line-height: $base-line-height - 4px;
  font-weight: 700;
  margin: 20px 0 0 0;
}

.advantages__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    max-width: 655px;
  }

  .advantages__item {
    width: 295px;

    &:nth-child(odd) {
      margin-right: 38px;
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages__item:nth-child(odd) {
    margin-right: 58px;
  }
}
