@import "../global/variables";
@import "../global/mixins";

.button {
  display: inline-block;
  padding: 14px 52px;
  background-color: transparent;
  color: $base-color;
  text-align: center;
  font-size: $base-font-size + 2px;
  line-height: $base-line-height - 4px;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid $base-color;
  text-decoration: none;

  &:hover {
    background-color: $base-color;
    color: #ffffff;
  }

  &:focus {
    background-color: $base-color;
    color: rgba(#ffffff, 0.3);
    outline: none;
  }
}

.button--product-week {
  width: 100%;
}

.button--reviews {
  width: 100%;
}

.button--contacts {
  width: 100%;
}

.button--process {
  width: 100%;
  padding: 14px 22px;
}

.button--product {
  padding: 0;
  border: none;
  margin-left: auto;
  margin-right: -4px;
  background-color: transparent;
  opacity: 0.2;
  overflow: hidden;

  &:hover {
    background-color: transparent;
    opacity: 1;

    svg {
      fill: #65d2bc;
    }
  }

  &:focus {
    background-color: transparent;
    opacity: 0.3;

    svg {
      fill: #65d2bc;
    }
  }
}

.button--product svg {
  display: block;
  width: 21px;
  height: 18px;
}

.button--video {
  width: 100%;
  margin-top: 25px;
  padding: 14px 23px;
}

.button--checkout {
  width: 100%;
  margin-top: 20px;
  padding: 14px 43px;
}

.button--size {
  width: 100%;
  margin-top: 31px;


  &:hover {
    background-color: #63d1bb;
    border-color: #63d1bb;
    color: #ffffff;
  }

  &:focus {
    background-color: #63d1bb;
    border-color: #63d1bb;
    color: rgba(#ffffff, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .button--reviews {
    width: auto;
    margin-left: auto;
    padding-left: 37px;
    padding-right: 39px;
    order: -1;
  }

  .button--contacts {
    display: block;
    width: 230px;
    padding: 14px 28px;
    margin-left: auto;
    margin-right: auto;
  }

  .button--product {
    margin-right: -2px;
  }

  .button--video {
    display: block;
    margin-top: 35px;
    max-width: 584px;
    margin-left: auto;
    margin-right: auto;
  }

  .button--checkout {
    width: auto;
    padding: 14px 30px;
    margin-top: 3px;
    order: -1;
  }
}

@media (min-width: $desktop-width) {
  .button--reviews {
    margin-top: 8px;
  }

  .button--contacts {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .button--product {
    margin-right: 2px;
  }

  .button--video {
    display: inline-block;
    width: auto;
    padding: 14px 43px;
    margin-top: 45px;
    margin-left: 1px;
  }

  .button--checkout {
    margin-top: 0;
  }
}
