@import "../global/variables";
@import "../global/mixins";

.button {
  background-color: transparent;
  color: $base-color;
  font-size: $base-font-size + 2px;
  line-height: $base-line-height - 4px;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid $base-color;

  &:hover {
    background-color: $base-color;
    color: #ffffff;
  }

  &:focus {
    background-color: $base-color;
    color: rgba(#ffffff, 0.3);
    outline: none;
  }

}
