@import "../global/variables";
@import "../global/mixins";

.button {
  display: inline-block;
  padding: 14px 52px;
  background-color: transparent;
  color: $base-color;
  text-align: center;
  font-size: $base-font-size + 2px;
  line-height: $base-line-height - 4px;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid $base-color;
  text-decoration: none;

  &:hover {
    background-color: $base-color;
    color: #ffffff;
  }

  &:focus {
    background-color: $base-color;
    color: rgba(#ffffff, 0.3);
    outline: none;
  }
}

.button--product-week {
  width: 100%;
}

.button--reviews {
  width: 100%;
}

.button--contacts {
  width: 100%;
}

.button--process {
  width: 100%;
  padding: 14px 22px;
}

.button--product {
  padding: 0;
  border: none;
  margin-left: auto;
  margin-right: -4px;

  path {
    fill: #dbdbdb;
  }

  &:hover {
    background-color: transparent;

    path {
      fill: #80dac8;
    }
  }

  &:focus {
    background-color: transparent;

    path {
      fill: rgba(#80dac8, 0.3);
    }
  }
}

.button--product svg {
  display: block;
}

.button__cart {
  display: block;
}

@media (min-width: $tablet-width) {
  .button--reviews {
    width: auto;
    margin-left: auto;
    padding-left: 37px;
    padding-right: 39px;
    order: -1;
  }

  .button--contacts {
    display: block;
    width: 230px;
    padding: 14px 28px;
    margin-left: auto;
    margin-right: auto;
  }

  .button--product {
    margin-right: -2px;
  }
}

@media (min-width: $desktop-width) {
  .button--reviews {
    margin-top: 8px;
  }

  .button--contacts {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .button--product {
    margin-right: 2px;
  }
}
