@import "../global/variables";
@import "../global/mixins";

.buy-list__link {
  display: block;
  padding: 27px 58px 27px 76px;
  font-size: $base-font-size + 2px;
  color: $black;
  text-decoration: none;
  font-weight: 700;
  line-height: $base-line-height;

  &:hover {
    color: rgba($black, 0.6);
  }

  &:focus {
    color: rgba($black, 0.3);
  }
}

.buy-list__item {
  border-bottom: 1px solid #ececec;
}

.buy-list__link--order {
  padding: 26px 58px 27px 76px;
}

@media (min-width: $tablet-width) {
  .buy-list {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .buy-list {
    display: flex;
    flex-wrap: wrap;
    width: 410px;
    order: -1;
  }
}
