@import "../global/variables";
@import "../global/mixins";

.categories {
  position: relative;
  background-color: #fafafa;
}

.categories__promo {
  color: $black;
  font-size: $base-font-size * 2 - 3px;
  font-weight: 700;
  line-height: $base-line-height + 6px;
  margin: 0;
  text-align: center;
}

.categories__inner .categories__list {
  margin-left: -30px;
  margin-right: -30px;
}

.categories__inner--background {
  padding-top: 70px;
  padding-bottom: 123px;
  background-color: #fafafa;
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-size: 575px 373px;
  background-position: 50% -19px;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .categories__list {
    margin-left: 0;
    margin-right: 0;
  }

  .categories__promo {
    font-size: $base-font-size * 3 - 2px;
    line-height: $base-line-height * 2 + 2px;
  }

  .categories__separator {
    display: none;
  }

  .categories__inner .categories__list {
    margin-left: 0;
    margin-right: 0;
  }

  .categories__inner--background {
    padding-top: 112px;
    padding-bottom: 373px;
    background-image: url("../../img/hero-tablet@1x.jpg");
    background-size: 1150px 746px;
    background-position: 50% -42px;
  }

  .categories::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -14px;
    height: 24px;
    width: 100%;
    background-image: url("../../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: 770px;
  }
}

@media (min-width: $desktop-width) {
  .categories__promo {
    font-size: 53px;
    line-height: 57px;
    width: 625px;
    margin: 0 auto;
  }

  .categories__inner--background {
    padding-bottom: 360px;
  }

  .categories::after {
    bottom: -21px;
    height: 37px;
    background-size: 1250px 100%;
    background-position: -12% 100%;
  }
}
