@import "../global/variables";
@import "../global/mixins";

.categories {
  position: relative;
  background-color: #fafafa;
}

.categories__promo {
  color: $black;
  font-size: $base-font-size * 2 - 3px;
  font-weight: 700;
  line-height: $base-line-height + 6px;
  margin: 0;
  text-align: center;
}

.categories__inner .categories__list {
  margin-left: -30px;
  margin-right: -30px;
}

.categories__inner--background {
  padding-top: 70px;
  padding-bottom: 123px;
  background-color: #fafafa;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-size: 575px 373px;
  background-position: 50% -19px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px 373px;
  }
}

.categories__list {
  @include list-reset();
}

.categories__item {
  position: relative;
}

.categories__link {
  position: relative;
  bottom: 0;
  display: block;
  min-height: 103px;
  padding: 24px 155px 31px 27px;
  color: #ffffff;
  font-size: $base-font-size + 4px;
  font-weight: 700;
  line-height: $base-line-height;
  background-color: #63d1bb;
  text-decoration: none;
  z-index: 1;
  transition: 0.3s;

  &:before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #63d1bb;
    z-index: -1;
    transition: bottom 0.3s;
  }

  &:focus,
  &:hover {
    padding-top: 19px;
    padding-bottom: 36px;

    &::before {
      height: 100%;
      bottom: 5px;
    }
  }

  &:focus {
    color: rgba(#ffffff, 0.3);
  }
}

.categories__item:nth-child(even) .categories__link {
  background-color: #56c3b2;

  &:focus,
  &:hover {
    &::before {
      background-color: #56c3b2;
    }
  }
}

@media (min-width: $tablet-width) {
  .categories__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }

  .categories__item {
    width: 50%;
  }

  .categories__link {
    padding: 27px 150px 30px 37px;
    font-size: $base-font-size + 5px;
    line-height: $base-line-height + 6px;

    &:focus,
    &:hover {
      padding-bottom: 38px;
    }
  }

  .categories__promo {
    font-size: $base-font-size * 3 - 2px;
    line-height: $base-line-height * 2 + 2px;
  }

  .categories__separator {
    display: none;
  }

  .categories__inner .categories__list {
    margin-left: 0;
    margin-right: 0;
  }

  .categories__inner--background {
    padding-top: 112px;
    padding-bottom: 373px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: 1150px 746px;
    background-position: 50% -42px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px 746px;
    }
  }

  .categories::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -14px;
    height: 24px;
    width: 100%;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: 770px;
    z-index: 2;
  }
}

@media (min-width: $desktop-width) {
  .categories__promo {
    font-size: 53px;
    line-height: 57px;
    width: 625px;
    margin: 0 auto;
  }

  .categories__inner--background {
    padding-bottom: 360px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .categories::after {
    bottom: -21px;
    height: 37px;
    background-size: 1250px 100%;
    background-position: -12% 100%;
  }

  .categories__link {
    padding: 27px 332px 30px 37px;
  }
}
