@import "../global/variables";
@import "../global/mixins";

.categories-menu {
  @include list-reset();
}

.categories-menu__link {
  display: block;
  min-height: 103px;
  padding: 24px 155px 31px 27px;
  color: #ffffff;
  font-size: $base-font-size + 4px;
  font-weight: 700;
  line-height: $base-line-height;
  background-color: #63d1bb;
  text-decoration: none;
  transition: all 0.2s ease;
}

.categories-menu__item:nth-child(even) .categories-menu__link {
  background-color: #56c3b2;
}

@media (min-width: $tablet-width) {
  .categories-menu {
    display: flex;
    flex-wrap: wrap;
  }

  .categories-menu__item {
    width: 50%;
  }

  .categories-menu__link {
    padding: 27px 150px 30px 37px;
    font-size: $base-font-size + 5px;
    line-height: $base-line-height + 6px;
  }
}

@media (min-width: $desktop-width) {
  .categories-menu__link {
    padding: 27px 315px 30px 37px;
  }
}
