@import "../global/variables";
@import "../global/mixins";

.categories-menu__link {
  display: block;
  padding: 24px 155px 31px 27px;
  color: #ffffff;
  font-size: $base-font-size + 4px;
  font-weight: 700;
  line-height: $base-line-height;
  background-color: #63d1bb;
  text-decoration: none;

  &:focus {
    color: rgba(#ffffff, 0.3);
  }
}

.categories-menu__item:nth-child(even) .categories-menu__link {
  background-color: #56c3b2;
}

@media (min-width: $tablet-width) {
  .categories-menu {
    display: flex;
    flex-wrap: wrap;
  }

  .categories-menu__item {
    width: 50%;
  }
}
