@import "../global/variables";
@import "../global/mixins";

.checkout__title {
  max-width: 95%;
  margin: 0 0 20px 0;
  color: $base-color;
  font-size: $base-font-size - 2px;
  line-height: $base-line-height;
  font-weight: 400;
}

.checkout {
  margin-top: 21px;
}

.checkout__list {
  @include list-reset();
}

.checkout__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.checkout__legend {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
  color: $secondary-color;
  font-size: $base-font-size + 2px;
  font-weight: 700;
  text-transform: uppercase;

  &::after {
    content: " ";
    display: block;
    margin-left: 18px;
    flex-grow: 1;
    height: 1px;
    border: 1px solid #62d1ba;
  }
}

.checkout__item {
  margin-bottom: 29px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .checkout {
    padding-top: 68px;
    padding-bottom: 50px;
  }

  .checkout__item {
    &:nth-child(even) {
      background-color: #f1f1f1;
    }
  }

  .checkout__fieldset {
    display: flex;
  }

  .checkout__legend {
    width: 165px;
  }

  .checkout__send {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .checkout__submit-wrap {
    order: -1;
  }

  .checkout__item--lass-label {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .checkout {
    padding-top: 128px;
  }

  .checkout__legend {
    width: 115px;
  }
}
