@import "../global/variables";
@import "../global/mixins";

.checkout__title {
  max-width: 95%;
  margin: 0 0 20px 0;
  color: $base-color;
  font-size: $base-font-size - 2px;
  line-height: $base-line-height;
  font-weight: 400;
}

.checkout {
  margin-top: 21px;
}

.checkout__list {
  @include list-reset();
}

.checkout__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.checkout__legend {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
  color: $secondary-color;
  font-size: $base-font-size + 2px;
  font-weight: 700;
  text-transform: uppercase;

  &::after {
    content: " ";
    display: block;
    margin-left: 22px;
    flex-grow: 1;
    height: 1px;
    border: 1px solid #62d1ba;
  }
}

.checkout__item {
  margin-bottom: 29px;

  &:last-child {
    margin-bottom: 0;
  }
}

.checkout__item--text .checkout__legend {
  margin-bottom: 24px;
}

.checkout__item--lass-label .checkout__legend {
  margin-bottom: 1px;
}

.checkout__item--lass-label .customer__input {
  font-size: $base-font-size + 4px;
}

.checkout__item--lass-label .checkout__fieldset {
  margin-bottom: 31px;

  &:last-child {
    margin-bottom: 0;
  }
}

.checkout__required-text {
  margin: 11px 0;
  font-size: $base-font-size - 1px;
  line-height: $base-line-height / 2 +  4px;
}

.checkout__item--lass-label .customer__input--email {
  font-size: $base-font-size + 2px;
}

@media (min-width: $tablet-width) {
  .checkout {
    margin-top: 74px;
  }

  .checkout__item {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0;

    &:nth-child(even) {
      background-color: #f1f1f1;
    }
  }

  .checkout__fieldset {
    display: flex;
  }

  .checkout__legend {
    display: block;
    width: 165px;

    &::after {
      display: none;
    }
  }

  .checkout__send {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .checkout__submit-wrap {
    order: -1;
  }

  .checkout__title {
    font-size: $base-font-size + 2px;
    line-height: $base-line-height + 6px;
  }

  .checkout__item--checkbox {
    padding-top: 61px;
    padding-bottom: 14px;
  }

  .checkout__item--text {
    padding-top: 50px;
  }

  .checkout__item--text .checkout__legend {
    padding-top: 14px;
  }

  .checkout__item--lass-label .checkout__legend {
    padding-top: 14px;
    margin-bottom: 0;
  }

  .checkout__item--lass-label .checkout__fieldset {
    margin-bottom: 24px;
  }

  .customer__input--email {
    font-size: $base-font-size + 4px;
  }

  .checkout__item--lass-label .customer__input--email {
    font-size: $base-font-size + 4px;
  }

  .checkout__item--textarea {
    padding-top: 50px;
  }

  .checkout__required-text {
    margin: 0;
    font-size: $base-font-size + 2px;
    line-height: $base-line-height + 6px;
  }
}

@media (min-width: $desktop-width) {
  .checkout {
    margin-top: 105px;
  }

  .checkout__inner {
    padding-left: 110px;
  }

  .checkout__legend {
    width: 115px;
  }

  .checkout__title {
    width: 690px;
    margin-left: 114px;
  }

  .checkout__send {
    max-width: 700px;
    margin-left: 115px;
  }

  .checkout__required-text {
    margin-top: -7px;
  }
}
