@import "../global/variables";
@import "../global/mixins";

.contacts {
  margin-top: 33px;
  padding-bottom: 39px;
}

.contacts__separator {
  display: none;
}

.contacts__separator--mobile {
  display: block;
}

.contacts__headline {
  margin: 0 0 26px 0;
  font-size: $base-font-size + 3px;
  line-height: $base-line-height + 6px;
  font-weight: 700;
  color: $black;
}

.contacts__map {
  position: relative;
  margin: 37px -30px 39px -30px;
}

.contacts__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  z-index: 1;
}

.contacts__name {
  width: 50px;
  margin: 0 28px 0 0;
  font-size: $base-font-size;
  color: $base-color;
  line-height: $base-line-height + 6px;
}

.contacts__link {
  position: relative;
  color: $base-color;
  font-size: $base-font-size;
  line-height: $base-line-height + 6px;
  text-decoration: none;

  &::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -4px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $secondary-color;
    transition: 0.2s;
  }

  &:hover {
    color: #46c1ae;
  }

  &:focus {
    color: #46c1ae;

    &::after {
      width: 84%;
    }
  }
}

.contacts__item {
  display: flex;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__content {
  margin: 0;
  width: calc(100% - 80px);
}

.contacts__content--address {
  width: 150px;
  margin: 0;
  color: $base-color;
  font-size: $base-font-size;
  line-height: $base-line-height + 6px;
  font-style: normal;
}

.contacts__iframe {
  position: relative;
  display: block;
  max-width: 100%;
  width: 100%;
  height: 457px;
  border: none;
  z-index: 2;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-top: 59px;
  }

  .contacts__list {
    display: flex;
  }

  .contacts__item {
    width: 300px;
    margin-right: 33px;

    &:last-child {
      margin-right: 0;
    }
  }

  .contacts__separator {
    display: block;
  }

  .contacts__headline {
    position: relative;
    margin-bottom: 49px;
    margin-left: -5px;
    font-size: $base-font-size * 3 - 2px;
    line-height: $base-line-height * 2 + 2px;

    &::after {
      content: " ";
      position: absolute;
      right: 3px;
      top: -14px;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
    }
  }

  .contacts__name {
    width: 60px;
    margin-right: 17px;
    font-size: $base-font-size + 2px;
  }


  .contacts__link {
    font-size: $base-font-size + 2px;
  }

  .contacts__content {
    width: calc(100% - 77px);
  }

  .contacts__content--address {
    font-size: $base-font-size + 2px;
  }

  .contacts__map {
    margin: 57px -50px 53px -50px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__inner {
    padding-left: 223px;
  }

  .contacts__info-block {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__list {
    display: block;
    width: 310px;
    padding-top: 176px;
    padding-bottom: 100px;
  }

  .contacts__headline {
    top: 127px;
    margin-bottom: 0;
    width: 100%;
    font-size: 53px;
    line-height: 57px;

    &::after {
      right: initial;
      left: -106px;
      top: -8px;
    }
  }

  .contacts__map {
    margin: 0 2px 0 auto;
    width: 525px;
  }

  .contacts {
    margin-top: 14px;
  }

  .contacts__img {
    display: block;
  }
}
