@import "../global/variables";
@import "../global/mixins";

.customer__review {
  font-size: $base-font-size;
  line-height: $base-line-height + 6px;
  color: $base-color;
}

.customer__name {
  line-height: $base-line-height;
  font-size: $base-font-size + 2px;
  color: $black;
  font-weight: 700;
}

.customer__login-link {
  font-size: $base-font-size + 2px;
  line-height: $base-line-height + 6px;
  color: $base-color;
  text-decoration: none;
  &:hover {
    color: rgba($black, 0.6);
  }
  &:focus {
    color: rgba($black, 0.3);
  }
}
