@import "../global/variables";
@import "../global/mixins";

.customer__review {
  font-size: $base-font-size;
  line-height: $base-line-height + 6px;
  color: $base-color;
}

.customer__name {
  line-height: $base-line-height;
  font-size: $base-font-size + 2px;
  color: $black;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .customer__info {
    width: 300px;
  }
}
