@import "../global/variables";
@import "../global/mixins";

@media (min-width: $desktop-width) {
  .interesting-offers {
    display: flex;
    width: 405px;

    @include list-reset();
  }

  .interesting-offers__item {
    margin-right: 62px;

    &:last-child {
      margin-right: 0;
    }
  }

  .interesting-offers__link {
    color: $black;
    font-weight: 700;
    font-size: $base-font-size;
    line-height: $base-line-height;
    text-decoration: none;

    &:hover {
      color: rgba($black, 0.6);
    }

    &:focus {
      color: rgba($black, 0.3);
    }
  }
}
