@import "../global/variables";
@import "../global/mixins";

.option-list {
  @include list-reset();
}

.option-list__label {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-right: 30px;
  min-height: 40px;
  padding-left: 62px;
  color: $black;
  font-weight: 700;
  font-size: $base-font-size + 2px;
  line-height: $base-line-height / 2 + 6px;

  &:hover {
    &::before {
      border-color: #62d1ba;
    }
  }

  &::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: 2px solid $base-color;
  }
}

.option-list__label--radio {
  &::before {
    border-radius: 50%;
  }
}

.option-list__item {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.option-list__radio:checked + .option-list__label--radio::after {
  content: " ";
  position: absolute;
  left: 12px;
  top: 12px;
  width: 16px;
  height: 16px;
  background-color: #62d1ba;
  border-radius: 50%;
}

.option-list__radio:disabled + .option-list__label--radio::after {
  display: none;
}

.option-list__radio:disabled + .option-list__label--radio::before {
  opacity: 0.3;
  border-color: $base-color;
}

.option-list__checkbox:checked + .option-list__label--checkbox::after {
  content: " ";
  position: absolute;
  left: 10px;
  top: 12px;
  width: 20px;
  height: 11px;
  border: 2px solid #000000;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

.option-list--checkbox .option-list__item {
  margin-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .option-list {
    flex-grow: 1;
    margin-left: auto;
  }

  .option-list--checkbox {
    display: flex;
    flex-wrap: wrap;
  }

  .option-list__item--checkbox {
    width: 50%;
  }

  .checkout__item {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .option-list__item--checkbox {
    width: 33.33%;
  }
}
