@import "../global/variables";
@import "../global/mixins";

.page-name {
  padding: 71px 0 76px 0;
  background-color: #f1f1f1;
}

.page-name__headline {
  color: $black;
  font-size: $base-font-size * 2 - 3px;
  font-weight: 700;
  line-height: $base-line-height + 6px;
  margin: 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-name__headline {
    font-size: $base-font-size * 3 - 2px;
    line-height: $base-line-height * 2 + 2px;
  }

  .page-name {
    position: relative;
    padding-top: 56px;

    &::after {
      content: " ";
      position: absolute;
      bottom: -27px;
      left: 0;
      height: 37px;
      display: block;
      width: 100%;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: 100%;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-name__headline {
    font-size: 53px;
    line-height: 57px;
  }

  .page-name {
    padding-top: 54px;
    padding-bottom: 119px;

    &::after {
      bottom: 0;
      height: 34px;
      background-size: auto 34px;
    }
  }
}
