@import "../global/variables";
@import "../global/mixins";

.product-week__promo {
  font-size: $base-font-size + 10px;
  font-weight: 700;
  line-height: $base-line-height + 6px;
  color: $black;
  margin: 0 0 6px 0;
}

.product-week__clarification {
  color: $secondary-color;
  font-size: $base-font-size + 2px;
  line-height: $base-line-height - 4px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 6px 0;
}

.product-week__wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.product-week {
  padding: 27px 0;
}

@media (min-width: $mobile-large) {
  .product-week__wrap {
    max-width: 635px;
  }
}

@media (min-width: $tablet-width) {
  .product-week__wrap {
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .popular-product--single {
    width: 100%;
  }

  .product-week__promo {
    font-size: $base-font-size * 3 - 2px;
    line-height: $base-line-height * 2 + 2px;
  }

  .product-week {
    padding: 43px 0;
  }

  .product-week__clarification {
    width: 75px;
    text-align: center;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .product-week__wrap {
    max-width: 1150px;
  }

  .product-week__clarification {
    order: -1;
    margin-left: 0;
    margin-right: 58px;
  }

  .product-week__promo {
    font-size: 53px;
    line-height: 57px;
    margin: 0;
  }

  .product-week {
    padding: 54px 0;
  }
}
