@import "../global/variables";
@import "../global/mixins";

.products__list {
  @include list-reset();
}

.product__link {
  color: $black;
  line-height: $base-line-height;
  font-size: $base-font-size + 2px;
  font-weight: 700;
  text-decoration: none;
  &:hover {
    color: rgba($black, 0.6);
  }
  &:focus {
    color: rgba($black, 0.3);
  }
}

.product_characteristics {
  font-size: $base-font-size - 2px;
  line-height: $base-line-height + 6px;
  color: $base-color;
}
