@import "../global/variables";
@import "../global/mixins";

.products__inner {
  padding-top: 28px;
}

.products__list {
  @include list-reset();
}

.products__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .products__item {
    margin-bottom: 52px;
  }

  .products__inner {
    padding-top: 81px;
  }
}

@media (min-width: $desktop-width) {
  .products__list {
    display: flex;
    flex-wrap: wrap;
  }

  .products__inner {
    padding-top: 112px;
  }

  .products__item {
    display: flex;
    width: 316px;
    margin-right: 51px;
    margin-bottom: 0;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-child(n + 4) {
      margin-top: 51px;
    }
  }
}
