@import "../global/variables";
@import "../global/mixins";

.site-main--catalog {
  margin-bottom: 58px;
}

.site-main--form {
  margin-bottom: 56px;
}

.site-main--index {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .site-main--catalog {
    margin-bottom: 63px;
  }

  .site-main--form {
    margin-bottom: 51px;
  }

  .site-main--index {
    margin-bottom: 19px;
  }
}

@media (min-width: $desktop-width) {
  .site-main--catalog {
    margin-bottom: 106px;
  }

  .site-main--form {
    margin-bottom: 49px;
  }

  .site-main--index {
    margin-bottom: 66px;
  }
}
