@import "../global/variables";
@import "../global/mixins";

.site-footer__developer-link {
  color: $black;
  font-size: $base-font-size + 4px;
  line-height: $base-line-height - 6px;
  font-weight: 700;
  text-decoration: none;
  &:focus {
    color: rgba($black, 0.3);
  }
}
