@import "../global/variables";
@import "../global/mixins";

.site-list__link {
  font-size: $base-font-size + 2px;
  color: $black;
  text-decoration: none;
  font-weight: 700;
  line-height: $base-line-height;

  &:hover {
    color: rgba($black, 0.6);
  }

  &:focus {
    color: rgba($black, 0.3);
  }

}

