@import "../global/variables";
@import "../global/mixins";

.site-footer__list {
  padding-bottom: 21px;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;
}

.site-footer__developer-logo {
  fill: #63d1bb;
}

.site-footer__developer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $black;
  font-size: $base-font-size + 4px;
  line-height: $base-line-height - 6px;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    .site-footer__developer-logo {
      fill: #46c1ae;
    }
  }

  &:focus {
    color: rgba($black, 0.3);

    .site-footer__developer-logo {
      fill: rgba(#46c1ae, 0.3);
    }
  }
}

.site-footer__developer {
  margin: 21px 0 0 0;
}

.site-footer {
  padding-top: 25px;
  padding-bottom: 24px;
  background-color: #f1f1f1;
}

.site-footer__logo-wrap {
  display: none;
}

.site-footer__developer-logo {
  margin-left: 30px;
}

@media (min-width: $tablet-width) {
  .site-footer {
    padding-top: 51px;
    padding-bottom: 50px;
  }

  .site-footer__inner {
    display: flex;
  }

  .site-footer__list {
    margin-left: 155px;
    margin-top: 7px;
    padding-bottom: 0;
    border-bottom: none;
  }

  .site-footer__logo-wrap {
    display: block;
    width: 105px;
  }

  .site-footer__developer {
    width: 190px;
    margin: 5px -2px 0 auto;
  }

  .site-footer__logo-link {
    display: block;
    color: #322f30;
  }

  .site-footer__logo-link[href] {
    &:hover {
      color: #46c1ae;
    }

    &:focus {
      color: #46c1ae;
      opacity: 0.3;
    }
  }


  .site-footer__img {
    width: 102px;
    height: 34px;
  }
}

@media (min-width: $desktop-width) {
  .site-footer__list {
    margin-left: 346px;
  }
}
