@import "../global/variables";
@import "../global/mixins";

.slider {
  position: relative;
}

.slider__list {
  @include list-reset();
}

.slider__toggle {
  width: 50%;
  height: 52px;
  border: 1px solid #ececec;
  background-color: transparent;

  &:hover {
    .reviews__arrow {
      opacity: 0.6;
    }
  }

  &:focus {
    .reviews__arrow {
      opacity: 0.3;
    }
  }
}

.slider__toggle--prev {
  margin-right: -1px;
}

.slider__toggles {
  display: flex;
}

@media (min-width: $tablet-width) {
  .slider__toggle {
    border: none;
  }
}
