@import "../global/variables";
@import "../global/mixins";

.specifications__text {
  font-size: $base-font-size;
  font-weight: 400;
  color: $base-color;
  line-height: $base-line-height;
}

.specifications__list {
  border-spacing: 0;
  border: none;
  border-collapse: collapse;
}

.specifications__item {
  border-bottom: 1px solid #ececec;
}
