@import "../global/variables";
@import "../global/mixins";

.specifications__text {
  max-width: 260px;
  font-size: $base-font-size;
  font-weight: 400;
  color: $base-color;
  line-height: $base-line-height;
}

.specifications__list {
  border-spacing: 0;
  border: none;
  border-collapse: collapse;
}

.specifications__item {
  border-bottom: 1px solid #ececec;
}

@media (min-width: $tablet-width) {
  .specifications {
    width: 291px;
  }
}
