@import "../global/variables";
@import "../global/mixins";

.video-process__headline {
  width: 126px;
  margin: 0 0 26px 91px;
  color: $black;
  font-size: $base-font-size + 2px;
  line-height: $base-line-height;
  font-weight: 700;
}

.video-process {
  padding-top: 29px;
  border: 1px solid #ececec;
}

@media (min-width: $tablet-width) {
  .video-process {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  .video-process__headline {
    width: 100%;
    margin: 43px 0 0 0;
    padding-right: 47px;
    padding-left: 107px;
  }
}

@media (min-width: $desktop-width) {
  .video-process {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .video-process__headline {
    max-width: 222px;
    padding: 51px 0 0 0;
    margin-left: auto;
    margin-right: 67px;
  }
}
